{% include 'public/layout/header.html' %}
{% load static %}
{% block header %}

{% endblock header %}
<style>
    .dropdown-menu.show {
    margin-top: 0px !important;
    }
    .ml-auto, .mx-auto {
        margin-left:auto;
        margin-right:auto;
        width:80%;
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    color: #fff !important;
    font-size: 14px;
    }
    .ftco-footer{
    padding: 1em !important;
    }
    .ftco-navbar-light.scrolled.awake {
        background-color: #000 !important;
    }

</style>
<body>
    {% include 'public/layout/navbar.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'public/layout/footer.html' %}
    {% block script %}
    {% endblock script %}
  </body>
</html>