{% load static %}
        <!-- Footer Start -->
        <footer class="footer footer-bar">
          <div class="footer-py-30">
              <div class="container text-center">
                  <div class="row align-items-center">
                      <div class="col-sm-3">
                          <div class="text-sm-start">
                              <a href="{% url 'index' %}" class="logo-footer">
                                <span class="l-light logo-font text-white-50">GEN-Z</span>
                                  <!-- <img src="assets/images/logo-light.png" height="24" alt=""> -->
                              </a>
                          </div>
                      </div>

                      <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                          <div class="text-center">
                              <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> <span class="l-dark logo-font">GEN-Z</span> <a href="{% url 'terms_conditions' %}" target="_blank" class="text-reset">Terms</a> | <a href="{% url 'privacy_policy' %}" target="_blank" class="text-reset">Privacy Policy</a></p>
                          </div>
                      </div>

                      <div class="col-sm-3 mt-4 mt-sm-0 pt-2 pt-sm-0">
                          <ul class="list-unstyled social-icon foot-social-icon text-sm-end mb-0">
                              <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                              <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                              <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                              <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                          </ul><!--end icon-->
                      </div><!--end col-->
                  </div><!--end row-->
              </div><!--end container-->
          </div>
      </footer><!--end footer-->

      <!-- Cookies Start -->
      <!-- <div class="card cookie-popup shadow rounded py-3 px-4">
        <p class="text-muted mb-0">This website uses cookies to provide you with a great user experience. By using it, you accept our <a href="https://shreethemes.in" target="_blank" class="text-success h6">use of cookies</a></p>
        <div class="cookie-popup-actions text-end">
            <button><i class="uil uil-times text-dark fs-4"></i></button>
        </div>
    </div> -->
    <!--Note: Cookies Js including in plugins.init.js (path like; js/plugins.init.js) and Cookies css including in _helper.scss (path like; scss/_helper.scss)-->
    <!-- Cookies End -->

    <!-- Offcanvas Start -->
    <div class="offcanvas offcanvas-end shadow border-0" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-4 border-bottom">
            <h5 id="offcanvasRightLabel" class="mb-0">
              <span class="l-dark logo-font">GEN-Z</span>
              <span class="l-light logo-font text-white-50">GEN-Z</span>
            </h5>
            <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="uil uil-times fs-4"></i></button>
        </div>
        <div class="offcanvas-body p-4">
            <div class="row">
                <div class="col-12">
                    <img src="{% static 'images/contact.svg' %}" class="img-fluid d-block mx-auto" alt="">
                    <div class="card border-0 mt-4" style="z-index: 1">
                        <div class="card-body p-0">
                            <h4 class="card-title text-center">Login</h4>
                            <form class="login-form mt-4" method="post" id="login-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons" style="color: #000 !important;"></i>
                                                <input type="text" class="form-control ps-5" placeholder="Email" name="username" required="" style="color: #000 !important;">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Password <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons" style="color: #000 !important;"></i>
                                                <input type="password" name="password" class="form-control ps-5" placeholder="Password" required="" style="color: #000 !important;">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12">
                                        <div class="d-flex justify-content-between">
                                            <div class="mb-3">
                                                <!-- <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                                                </div> -->
                                            </div>
                                            <p class="forgot-pass mb-3"><a href="auth-cover-re-password.html" class="text-dark fw-bold float-end">Forgot password ?</a></p>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12 mb-0">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-success">Sign in
                                                <span class="spinner-border spinner-border-sm" id="pro1" role="status" aria-hidden="true" style="display: none;"></span>
                                            </button>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12 text-center">
                                        <p class="mb-0 mt-3"><small class="text-dark me-2">Don't have an account ?</small> <a href="auth-cover-signup.html" class="text-dark fw-bold">Sign Up</a></p>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas-footer p-4 border-top text-center">
            <ul class="list-unstyled social-icon social mb-0">
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
            </ul><!--end icon-->
        </div>
    </div>
    <!-- Offcanvas End -->

     <!-- Switcher Start -->
     <a href="javascript:void(0)" class="card switcher-btn shadow-md text-success z-index-1 d-md-inline-flex d-none" data-bs-toggle="offcanvas" data-bs-target="#switcher-sidebar">
        <i class="mdi mdi-human-greeting-proximity mdi-24px align-middle"></i>
        <!-- mdi-spin -->
    </a>

    <div class="offcanvas offcanvas-start shadow border-0" tabindex="-1" id="switcher-sidebar" aria-labelledby="offcanvasLeftLabel">
        <div class="offcanvas-header p-4 border-bottom">
            <h5 id="offcanvasLeftLabel" class="mb-0">
                <span class="l-dark logo-font">GEN-Z</span>
                <span class="l-light logo-font text-white-50">GEN-Z</span>
            </h5>
            <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="uil uil-times fs-4"></i></button>
        </div>
        <div class="offcanvas-body p-3 pb-0">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h6 class="fw-bold">Get in Touch</h6>
                        <ul class="pattern mb-0 mt-3">
                            <li>
                                <a class="btn btn-primary" href="#" title="Call Us"><i class="mdi mdi-phone mdi-16px align-middle"></i> Call Us</a>
                            </li>
                            <li>
                                <a class="btn btn-success btn-block" href="#" title="WhatsApp"><i class="mdi mdi-whatsapp mdi-16px align-middle"></i> WhatsApp</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="text-center mt-4 pt-4 border-top">
                        <h6 class="fw-bold">GET FREE QUOTATION FOR YOUR CAR</h6>
                        <p>Fill in your details below to request a call back.</p>

                        <form class="login-form mt-4" method="post" id="contact-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <!-- <label class="form-label">Your Email <span class="text-danger">*</span></label> -->
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons" style="color: #000 !important;"></i>
                                            <input type="text" class="form-control ps-5" placeholder="Full Name *" name="name" required="" style="color: #000 !important;">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <!-- <label class="form-label">Password <span class="text-danger">*</span></label> -->
                                        <div class="form-icon position-relative">
                                            <i data-feather="mail" class="fea icon-sm icons" style="color: #000 !important;"></i>
                                            <input type="email" name="email" class="form-control ps-5" placeholder="Email *" required="" style="color: #000 !important;">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <!-- <label class="form-label">Password <span class="text-danger">*</span></label> -->
                                        <div class="form-icon position-relative">
                                            <i data-feather="phone" class="fea icon-sm icons" style="color: #000 !important;"></i>
                                            <input type="number" name="phone_number" class="form-control ps-5" placeholder="Phone Number" style="color: #000 !important;">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <select class="form-select form-control" name="car" aria-label="Default select example" style="color: #000 !important;" required>
                                            <option value="" selected>Select Car *</option>
                                            {% for item in nav_items %}
                                                <option value="{{item}}">{{ item }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="form-icon position-relative">
                                            <i data-feather="message-circle" class="fea icon-sm icons" style="color: #000 !important;"></i>
                                            <textarea name="comments" id="comments" rows="4" class="form-control ps-5" placeholder="Message" style="color: #000 !important;"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-success">Enquiry
                                            <span class="spinner-border spinner-border-sm" id="pro" role="status" aria-hidden="true" style="display: none;"></span>
                                        </button>
                                    </div>
                                </div><!--end col-->

                            </div><!--end row-->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas-footer p-4 border-top text-center">
            <ul class="list-unstyled social-icon social mb-0">
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
            </ul><!--end icon-->
        </div>
    </div>
    <!-- Switcher End -->
     
      <!-- Back to top -->
      <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5 bg-success"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
      <!-- Back to top -->
  {% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- SLIDER -->
    <!-- <script src="{% static 'libs/tiny-slider/min/tiny-slider.js' %}"></script> -->
    <!-- Lightbox -->
    <!-- <script src="{% static 'libs/shufflejs/shuffle.min.js' %}"></script> -->
    <!-- <script src="{% static 'libs/tobii/js/tobii.min.js' %}"></script> -->
    <!-- Main Js -->
    <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'js/plugins.init.js' %}"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
    <script src="{% static 'js/app.js' %}"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->

  <script src="{% static 'public/js/jquery.min.js' %}"></script>
  <script src="{% static 'public/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'public/js/popper.min.js' %}"></script>
  <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'public/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'public/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'public/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'public/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'public/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'public/js/aos.js' %}"></script>
<!--  <script src="{% static 'public/js/jquery.animateNumber.min.js' %}"></script>-->
  <script src="{% static 'public/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'public/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'public/js/scrollax.min.js' %}"></script>
<!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--  <script src="{% static 'public/js/google-map.js' %}"></script>-->
  <script src="{% static 'public/js/main.j' %}s"></script>
  <!-- Google tag (gtag.js) -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-2QW8XKHWWP"></script>-->
<!--<script>-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'G-2QW8XKHWWP');-->
<!--</script>-->

{% endblock script %}

<script>
    $("#login-form").submit(function (e) {
    event.preventDefault();
    var data = new FormData($('#login-form').get(0));
    $('#pro1').show();
        $.ajax({
            type: 'POST',
            url: "{% url 'customer_login' %}",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            crossDomain: true,
            success: function (response) {
                if (response.is_success) {
                    toastr.success(response.message);
                    location.href = "{% url 'admin_dashboard' %}"
                } else {
                    toastr.error(response.message);
                }
                $('#login-form')[0].reset();
                $('#pro1').hide();
            },
            error: function (response) {
                // alert the error if any error occurred
                alert(response["error"]);
                $('#pro1').hide();
            }
        })
    })

</script>

<script>
    $("#contact-form").submit(function (e) {
    event.preventDefault();
    var data = new FormData($('#contact-form').get(0));
    $('#pro').show();
        $.ajax({
            type: 'POST',
            url: "{% url 'save_contact' %}",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            crossDomain: true,
            success: function (response) {
                if (response.is_success) {
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
                $('#contact-form')[0].reset();
                $('#pro').hide();
            },
            error: function (response) {
                // alert the error if any error occurred
                alert(response["error"]);
                $('#pro').hide();
            }
        })
    })

</script>

<!--COMPLETE SPACE FRAME-->

<!--Fully welded in our chassis fixture mild steel tubing with semi stressed skin pedal box-->
<!--DOM .134 wall roll bar-->
<!--Front and Rear body supported and hinged-->
<!--L & R Side Pods-->
<!--Chassis is delivered in a satin black epoxy finish-->
<!--Aluminum skin pre fitted and fastened, side pods, firewall-->
<!--Custom steering rack installed-->
<!--Steering column with quick release hub installed-->

<!--COMPLETE FIBER GLASS BODY-->
<!--Main Body-->
<!--Rocker Panels-->
<!--Roof-->
<!--Doors-->
<!--Nostril (drop down for single or Twin)-->
<!--Tail-->
<!--Windshield-->
<!--Polycarbonate Headlight Covers-->
<!--Polycarbonate Side and Rear Windows-->

<!--STEERING-->
<!--Custom Rack and Pinion Steering Unit-->
<!--Collapsible Steering Column-->

<!--SUSPENSION-->
<!--Billet Aluminum Front and Rear Suspension Uprights-->
<!--Billet Aluminum Front Upper and Lower Control Arms-->
<!--Performance Tie Rods and Balljoints-->
