{% include 'public/layout/header.html' %}
{% load static %}
{% block header %}

{% endblock header %}
<style>
    .dropdown-menu.show {
    margin-top: 0px !important;
    }
    .ml-auto, .mx-auto {
        margin-left:auto;
        margin-right:auto;
/* <!--        width:80%;--> */
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    color: #000 !important;
    font-size: 14px;
    }
    .ftco-footer{
    padding: 1em !important;
    }
    .ftco-navbar-light.scrolled.awake {
        background-color: #fff !important;
    }

</style>
<style>
    header {
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
    /* nav {
  text-align:center;
  width: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
}

nav ul {
  background: transparent;
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;

}


nav ul li {
  display: inline-block;
}


nav ul li a {
  color:#333333;
  display:block;
  padding:0px 40px;
  text-decoration:none;
  float: left;
  height: 60px;
   line-height: 60px;
}

nav ul li:hover {
  background: #fff;
}


nav ul li:hover > a{
    color:#000;
}

nav ul li:hover > ul {
  display:block;
}

nav ul ul {
  background: #fff;
  padding:0;
  text-align: center;
  display:none;
    width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-brand img {
    height: 20px;
}

nav {
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
}

.menu-item a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.submenu-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.car {
    text-align: center;
}

.car img {
    height: 80px;
    display: block;
    margin: 0 auto;
}

.car span {
    display: block;
    margin: 10px 0;
}

.navbar-icons a {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
}
</style>
<body>
    {% include 'public/layout/navbar.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'public/layout/footer.html' %}
    {% block script %}
    {% endblock script %}
  </body>
</html>