{% load static %}
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mt-2">
              Genz40 &copy;<script>document.write(new Date().getFullYear());</script> |
              <a href="" class=""> Privacy & Legal</a> |
              <a href="" class="">Contact</a> |
              <a href="" class="">Get Updates</a> |
              <a href="" class="">FAQs</a> |
              <a href="{% url 'blog' %}" class="">Blog</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  {% block script %}

  <script src="{% static 'public/js/jquery.min.js' %}"></script>
  <script src="{% static 'public/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'public/js/popper.min.js' %}"></script>
  <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'public/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'public/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'public/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'public/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'public/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'public/js/aos.js' %}"></script>
  <script src="{% static 'public/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'public/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'public/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'public/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'public/js/google-map.js' %}"></script>
  <script src="{% static 'public/js/main.j' %}s"></script>
  <!-- Google tag (gtag.js) -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-2QW8XKHWWP"></script>-->
<!--<script>-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'G-2QW8XKHWWP');-->
<!--</script>-->

{% endblock script %}