{% extends "public/layout/base.html" %}
{% load static %}
{% block header %}
{% endblock %}

{% block content %}
<section class="section bg-black">
    <div class="container">
        <div class="row mt-4">
            {% if user_data.is_email_verified == False %}
                <div class="col-12 mb-4 pb-2">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <i class="uil uil-exclamation-triangle fs-5 align-middle me-1"></i>
                        Email verification is pending. <a href="#" id="email-activation-link" class="alert-link text-white text-decoration-underline">Click here to send activation email</a>.
                        <button type="button" class="btn-close mt-1" data-bs-dismiss="alert" aria-label="Close"> </button>
                        <span class="spinner-border spinner-border-sm" id="pro" role="status"
                                            aria-hidden="true" style="display: none;"></span>
                    </div>
                </div>
            {% endif %}

            <!-- {% if user_data.is_phone_number_verified == False %}
                <div class="col-12 mb-4 pb-2">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <i class="uil uil-exclamation-triangle fs-5 align-middle me-1"></i>
                        Phone number verification is pending. <a href="#" id="phone-activation-link" class="alert-link text-white text-decoration-underline">Click here to send OTP</a>.
                        <button type="button" class="btn-close mt-1" data-bs-dismiss="alert" aria-label="Close"> </button>
                        <span class="spinner-border spinner-border-sm" id="pro" role="status"
                                            aria-hidden="true" style="display: none;"></span>
                    </div>
                </div>
            {% endif %} -->

             <!-- START SIDEBAR -->
             <div class="col-lg-4 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0 hide-on-small">
                {% include "customer/sidebar.html" %}

            </div><!--end col-->
            <!-- END SIDEBAR -->

             <!-- Start -->
             <div class="col-lg-8 col-12">
                <div class="row">
                    <div class="col-12 mb-4 pb-2">
                        <div class="section-title text-md-start">
                            <h4 class="title mb-">{{ user_data.full_name }}'s Vehicles</h4>
                        </div>
                        {% if reserverd_vehicles %}
                            {% for reserverd_vehicle in reserverd_vehicles %}
                                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden mb-3">
                                    <div class="row align-items-center g-0">
                                        <div class="col-md-6">
                                            {% if reserverd_vehicle.package_name == 'Mark I' %}
                                                <img class="img-fluid" src="{% static 'images/mark1details/HighresScreenshot00013.png' %}"
                                                alt="Mark-I">
                                            {% elif reserverd_vehicle.package_name == 'Mark II' %}
                                                <img class="img-fluid" src="{% static 'images/mark2details/HighresScreenshot00001.png' %}"
                                                alt="Mark-II">
                                            {% elif reserverd_vehicle.package_name == 'Mark IV' %}
                                                <img class="img-fluid" src="{% static 'images/mark4details/HighresScreenshot00002.png' %}"
                                                alt="Mark-IV">
                                            {% endif %}

                                            <!-- <img src="{% static 'images/work/14.jpg' %}" class="img-fluid" alt=""> -->
                                            <div class="overlay"></div>
                                            <div class="author">
                                                <small class="user d-block"><i class="uil uil-user"></i> {{ user_data.full_name }}</small>
                                                <small class="date"><i class="uil uil-calendar-alt"></i> {{ reserverd_vehicle.created_at|date:'M d, Y' }}</small>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-6">
                                            <div class="card-body content">
                                                <h5><a href="{% url 'my_vehicle_details' reserverd_vehicle.id %}" class="card-title title text-success logo-font">GEN-Z 40</a> - {{ reserverd_vehicle.package_name }}</h5>
                                                <p class="text-muted mb-0">{{ reserverd_vehicle.rn_number }}</p>
                                                <div class="post-meta d-flex justify-content-between mt-3">
                                                
                                                    <a href="{% url 'my_vehicle_details' reserverd_vehicle.id %}" class="text-muted readmore">Manage <i class="uil uil-angle-right-b align-middle"></i></a>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                    </div> <!--end row-->
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4>No reserved car found.</h4>
                        {% endif %}
                    </div><!--end col-->

                        </div>
                    <div class="col-12 mb-4 pb-2">
                        <div class="section-title text-md-start">
                            <h4 class="title mb-">Order a Vehicle</h4>
                        </div>
                        
                        {% if vehicles %}
                            {% for order_vehicle in vehicles %}
                                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden mb-3">
                                    <div class="row align-items-center g-0">
                                            <div class="col-md-6">
                                                {% if order_vehicle.title == 'Mark I' %}
                                                    <img class="img-fluid" src="{% static 'images/mark1details/HighresScreenshot00013.png' %}" alt="Mark-I">
                                                {% elif order_vehicle.title == 'Mark II' %}
                                                    <img class="img-fluid" src="{% static 'images/mark2details/HighresScreenshot00001.png' %}" alt="Mark-II">
                                                {% elif order_vehicle.title == 'Mark IV' %}
                                                    <img class="img-fluid" src="{% static 'images/mark4details/HighresScreenshot00002.png' %}" alt="Mark-IV">
                                                {% endif %}
                                            </div>
                                        
                                            <div class="col-md-6">
                                                <div class="card-body content">
                                                    <h5><a href="{% url 'car_details' order_vehicle.slug %}" class="card-title title text-success logo-font">GEN-Z 40</a> - {{ order_vehicle.title }}</a></h5>
                                                    <p class="text-muted mb-0">{{ order_vehicle.content }}</p>
                                                    <div class="post-meta d-flex justify-content-between mt-3">
                                                        <a href="{% url 'car_details' order_vehicle.slug %}" class="text-white readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div> 
                                
                                </div>
                            {% endfor %}

                        {% else %}
                            <h4>No new car found.</h4>
                        {% endif %}
                    </div>
                    <!--end col-->

                </div><!--end row-->
            </div><!--end col-->
            <!-- End -->

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
{% endblock content %}

{% block script %}
<script>
    $(document).on("click", "#email-activation-link", function (e) {
    e.preventDefault();
    $('#pro').show();
        $.ajax({
            type: 'POST',
            url: "{% url 'email_verify_from_dashboard' %}",
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Fix CSRF Issue
                "Content-Type": "application/json"
            },
            success: function (response) {
                if (response.is_success) {
                    toastr.success(response['message']);
                   
                } else {
                    toastr.error(response['message']);
                }
                $('#pro').hide();
            },
            error: function (response) {
                if (!response.is_success) {
                    toastr.error(response['message']);
                }
                // alert the error if any error occurred
                $('#pro').hide();
            }
        })
    });
</script>

<script>
    $(document).on("click", "#phone-activation-link", function (e) {
    e.preventDefault();
    $('#pro').show();
        $.ajax({
            type: 'POST',
            url: "{% url 'send_otp' %}",
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Fix CSRF Issue
                "Content-Type": "application/json"
            },
            success: function (response) {
                if (response.is_success) {
                    toastr.success(response['message']);
                    setTimeout(function() {
                        location.href = "{% url 'otp_verify_page' %}";
                    }, 2000);
                } else {
                    toastr.error(response['message']);
                }
                $('#pro').hide();
            },
            error: function (response) {
                if (!response.is_success) {
                    toastr.error(response['message']);
                }
                // alert the error if any error occurred
                $('#pro').hide();
            }
        })
    });
</script>

<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock script %}