{% extends "public/layout/base.html" %}
{% load static %}
{% block header %}
<style>
    .li.account-menu:hover .navbar-link {
        background-color: #4d63ab!important;
    }
</style>

{% endblock %}

{% block content %}
<section class="section bg-black">

    <div class="container">
        <div class="row">

             <!-- START SIDEBAR -->
             <div class="col-lg-4 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0 hide-on-small">
                {% include "customer/sidebar.html" %}
            </div><!--end col-->
            <!-- END SIDEBAR -->

            <div class="col-lg-8 mt-4">
                <div class="table-responsive shadow rounded">
                    <table class="table table-center bg-white mb-0">
                        <thead>
                            <tr>
                                <th class="text-center border-bottom p-3">Reserved</th>
                                <th class="text-center border-bottom p-3">Amount</th>
                                <th class="text-center border-bottom p-3">Date</th>
                                <th class="text-center border-bottom p-3">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Start -->
                             {% for reserverd_vehicle in reserverd_vehicles %}
                            <tr>
                                <td class="text-center p-3">{{ reserverd_vehicle.package_name }}</td>
                                <td class="text-center p-3">${{ reserverd_vehicle.amount }}</td>
                                <td class="text-center p-3">{{ reserverd_vehicle.created_at|date:'M d, Y' }}</td>
                                <td class="text-center p-3">
                                    {% if reserverd_vehicle.status == 'succeeded'  %}
                                        <div class="badge bg-soft-success rounded px-3 py-1">
                                            Paid
                                        </div>
                                    {% else %}
                                        <div class="badge bg-soft-danger rounded px-3 py-1">
                                            Unpaid
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- End -->
                        </tbody>
                    </table>
                </div>
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
{% endblock content %}

{% block script %}

{% endblock script %}